* {
	margin: 0;
}

body {
	background-color: #ccc;
}
.page {
	width: 960px;
	margin: 0 auto;
	
}

#head {
	background: #333333;
	height: 100px;
	width: 100%;
}

#container {
	width: 100%;
	height: 850px;
}

img {
	padding: 28px 0 26px 22px;
}

#navbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666; 
}

.navbar-li {
	float: left;
	border-right: solid 1px;
}

.navbar-li a {
	display: inline-block;
	text-align: center;
	color: white;
	padding: 18px 20px 20px 20px;
}

.navbar-li a.hover{
	background-color: #111;
}

.main-body {
	float: left;
	width: 70%;
	height: 850px;	
	background-color: white;
}

#sidebar {
	float: left;
	width: 30%;
	height: 850px;
	background-color: #e5e5e5;

}

#sub-container {
	padding: 0 19px 0 21px;

}

.column {
    width: 100%;
    display: inline-block;
}

.content-img {
	float: left;
	width: 160px;
	height: 160px;
	background-color: #dddddd;
	margin-bottom: 40px;
	margin-top: 40px;
}

.text {
	float: left;
	width: 70%;
	margin-bottom: 40px;
	margin-top: 40px;
	padding-left: 20px;
}

#footer-text {
	margin: 20px 0 20px 0;
	color: #c4c4c4;
}

p {
	color: #666666;
}

.link-color {
	color: #f58220;
}

.sidebar-components {
	padding: 32px 20px 0 20px;
}


h2 {
	margin-bottom: 18px; 
}

#sidebar-ul {
	list-style-type: none;
}

.sidebar-li {
	padding-top: 15px;
	
}

h3 {
	color: #f58220;
	font-size: 14px;
}

a {
	text-decoration: none;
}

#widgets-text {
	margin-top: 20px;
}

#footer {
	width: 100%;
	height: 50px;
  bottom: 0;
  display: block;
	background-color: #333333;
	text-align: center;
	color: #929292;
}	

h5 {
	padding-top: 20px;
	margin: 0 auto;
}
